services:

  db:
    image: mysql:8
    container_name: mysql_db
    restart: always
    env_file:
      - ./backend/.env
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init_db.sql:/docker-entrypoint-initdb.d/init_db.sql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 3s
      retries: 10
    networks:
      - internal_net   

  app:
    build: ./backend
    container_name: fastapi_app
    restart: always
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_URL: mysql://daniel:daniel123@db:3306/lara_bs
    command: >
      sh -c "sleep 10 && uvicorn app.main:app --host 0.0.0.0 --port 8000"
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8000/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 20s
    networks:
      - internal_net   

  frontend:
    build: ./frontend/sena-frontend
    container_name: angular_frontend
    restart: always
    ports:
      - "4200:80"
    depends_on:
      - app
    stdin_open: true
    tty: true
    environment:
      - API_URL=http://app:8000
    networks:
      - internal_net   

volumes:
  mysql_data:
    driver: local

networks:
  internal_net:
    driver: bridge
